#hero {
    background: #0075FF;
    margin-bottom: 100px;
    
}

.container-fluid {
    max-width: 1300px;
    margin: 0 auto;
}
 
.body {
    background-image: url(img/bggif.gif);
    
}
.width {
    max-width: 1300px;
    margin: 0 auto;
}
 
.img {
    padding-left: 50px;
    left: 10px;
    margin-right: 350px;
}
 
.nav-item {
    padding-right: 30px;
}

.navbar {
    background-color: #0075FF;
}

.cont1 {
    margin-bottom: 100px;
}
 
.picture {
    position: relative;
    border-radius: 100%;
    width: 400px;
    top: 168px;
    left: 75px;
    z-index: 1;
   
}
 
.square {
    position: relative;
    z-index: 0;
    height: 600px;
    width: 350px;
    border-radius: 100%;
    background-color: blue;
    bottom: 1150;
    left: 100px;
    margin-bottom: -700px;
}
 
.text {
    position: relative;
    left: 500px;
    bottom: 350px;
    color: white;
    display: inline-block;

}
.making {
    font-size: 55px;
}

.btn {
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 40px;

}

.dl {
    width: 50px;
    margin-left: -10px;
}

.vf {
    width: 20px;
}

.vf1 {
    font-size: 15px;
}

.cont1 {
    padding-left: 50px;
    margin-bottom: -50px;
}

.navbar-toggler {
    float: left;
}

.webview {
    position: relative;
    width: 300px;
    left: 300px;
    bottom: 668px;
}

.mobileview {
    position: relative;
    width: 200px;
    left: 500px;
}

.carousel {
    position: relative;
    width: 900px;
    left: 200px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.serv {
    text-align: center; 
    font-size: 70px; 
    color: white;
}

.about {
    color: white;
    position: relative;
    top: 150px;
    margin-bottom: 500px;
}

.img2 {
    position: relative;
    border-radius: 100%;
    width: 400px;
    top: 168px;
    left: 75px;
    z-index: 1;
}
.square1 {
    position: relative;
    z-index: 0;
    height: 600px;
    width: 350px;
    border-radius: 100%;
    background-color: blue;
    bottom: 1150;
    left: 100px;
    margin-bottom: -700px;
}
.about1 {
    position: absolute;
    left: 800px;
    top: -130px;
}

.cta2 {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="img"] {
        width: 200px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    [class*="navbar-toggler"] {
        margin-left: 300px;
        margin-top: -50px;
    }
    [class*="navbar-toggler-icon"] {
        margin: 0 0 0 0;
    }
    [class*="square"] {
        position: relative;
        z-index: 0;
        height: 200px;
        width: 100px;
        border-radius: 100%;
        background-color: blue;
        top: -50px;
        left: 100px;
        margin-bottom: -700px;
    }
    [class*="picture"] {
        position: relative;
        border-radius: 100%;
        width: 150px;
        top: 450px;
        left: 75px;
        z-index: 1;
    }
    [class*="btn"] {
        border-radius: 100%;
        position: relative;
        right: 475px;
        top: 370px;
        margin: 0 0 0 0;
        margin-bottom: 10px;
    }
    [id*="dl"] {
        border-radius: 100%;
        position: relative;
        right: 455px;
        margin-bottom: 50px;
    }    
    [class*="webview"] {
        position: relative;
        width: 200px;
        left: 100px;
        top: 3px;
    }
    [class*="mobileview"] {
        position: relative;
        width: 200px;
        left: 100px;
        top: 10px;
    } 
    [class*="d-flex"] {
        position: relative;
        right: 200px;
    } 
    [class*="serv"] {
        font-size: 50px;
    } 
    [class*="square1"] {
        position: relative;
        z-index: 0;
        height: 250px;
        width: 150px;
        border-radius: 100%;
        background-color: blue;
        left: -680px;
        top: -1000px;
        
        margin-bottom: -700px;
    }
    [class*="img2"] {
        position: relative;
        border-radius: 100%;
        width: 200px;
        top: -550px;
        left: -800px;
        z-index: 1;
    }
    [class*="about"] {
        text-align: center;
        position: relative;
        top: 400px;
    }
    [class*="footer"] {
        text-align: center; 
    }
    [id*="dl2"] {
        border-radius: 100%;
        position: relative;
        left: -65px;
        top: 10px;
    }
    [id*="cm"] {
        border-radius: 100%;
        position: relative;
        left: 100px;
        top: 60px;
    }
    [class*="link"] {
        position: relative;
        left: 20px;
        
    }
    [class*="vf1"] {
        position: relative;
        right: 410px;
        top: 150px;
    }
    [class*="since"] {
        position: relative;
        right: 520px;
        top: 250px;
        
    }
    [class*="text"] {
        padding-top: 600px;
        
    [class*="sinc"] {
        text-align: center;
    }
  }
  @media only screen and (max-width: 768px){
    html,
    body{
    width:100%;
    overflow-x:hidden;
    }
}